body {
        border-top: #4BC8FF solid 6px;
        border-bottom: #4BC8FF solid 6px;
        background-image: none;
        background-color: white;
        font-size: 1rem;
        font-weight: 400;
	color: #555;
}

.layout-container {
    max-width: 1200px;
}

div.layout-main-wrapper {
	border-bottom: 1px solid #ddd;
}

html, body, textarea, p, div, table, tr, td, select, option, input, button, .button {
        font: normal 16px/1.45 Arial,Helvetica Neue,sans-serif;
}

a, a.link, a:visited { 
        color: #004899;
        text-decoration: underline;
	border-bottom: none;
}

.site-footer .content a, 
.site-footer .content a:visited {
	color: #0000DC;
	text-decoration: underline;
}

a:hover {
	color: black;
	text-decoration: underline;
	border-bottom: none;
}	

.site-footer .content a:hover {
        color: black;
        text-decoration: underline;
	border-bottom: none;
}

a:active,
.site-footer .content a:active,
.node--view-mode-teaser h2 a:active {
	color: black;
        text-decoration: underline;
        border-bottom: none;
	text-decoration-style: solid;
	border: 0;
}

/** override some bartik defaults */
.field--type-entity-reference .field__label, .field--type-entity-reference ul.links {
	font-size: inherit;
}

div.views-field-type em {
	font-style: italic;
}

em {
	font-style: normal;
}

.node__content {
	font-size: inherit;
}



a[href^=tel] {
    color:inherit;
    text-decoration:inherit;
    font-size:inherit;
    font-style:inherit;
    font-weight:inherit;
}

.button {
    background-color: #004899;
    color: white;
    font-weight: bold;
    border-radius: 0;
    border: white solid 2px;
    text-decoration: none;
    background-image: none;
    padding: 0.6rem;
}

.button:hover, .button:active, input.form-submit:hover, input.form-submit:focus {
    background-color: black;
    color: white;
    border: black solid 2px;
    outline: 0;
    box-shadow: none;
}

h1 {
	font-size: 24px;
}

h2, .main-content h2 {
	font-size: 20px;
	line-height: inherit;
	margin-bottom: inherit;
}

h3 {
	font-size: 20px;
}

h1, h2, h3 {
	color: #004899;
	font-weight: bold;
}

p {
	font-size: inherit;
	line-height: 1.5;
}

/** Switch off clock animated icon on background */
.js input.form-autocomplete {
	background: none;
}
.js input.form-autocomplete.ui-autocomplete-loading {
        background-image: none;
}


/* admin tabs */
.tabs ul.primary {
	padding: 0;
	background: none;
}

ul.tabs li {
	border: none;
}

ul.tabs li.is-active, ul.tabs li.is-active a {
	background-color: #004899;
	color: white;
	border: none;
}

.tabs ul.primary li a {
	border: none;
	background-color: white;
	background: none;
	color: #004899;
}

.tabs ul.primary li.is-active a {
	background-color: #004899;
	border: none;
	text-shadow: none;
	color: white;
}

ul.tabs.primary {
	border-bottom: 1px solid #004899;
}


/** header MUNI style */
#header {
	background-image: inherit;
	color: #0000DC;
	background-color: white;
	border-bottom: #DCDCDC solid 2px;
}

div.region-header {
	margin-top: 1rem;
}

a.site-branding__logo img {
	height: 68px;
}

div.site-branding__text {
	display: none;
}

.region-header, .region-header a, .region-header li a.is-active, .region-header .site-branding__text, .region-header .site-branding, .region-header .site-branding__text a, .region-header .site-branding a, .region-secondary-menu .menu-item a, .region-secondary-menu .menu-item a.is-active {
    color: #0000DC;
    text-decoration: none;
}

.region-header .block:not(.site-branding) {
	margin: 0;
}

.region-header .site-branding, .region-header .block {
        float: none;
}

div.region-header {
        display: flex;
        align-items: stretch;
        max-width: 1170px;
        flex-wrap: wrap;
}

#block-islandora-muni-sitelogo,
#block-sitelogo {
        flex-grow: 1;
}

div.region-header div.views-exposed-form {
        clear: none;
        float: none;
}

div.region-header h2 {
        display: none;
}


div.region-header form,
div.region-header div.form--inline {
	display: flex;
	margin-top: 0;
}

div.region-header div.form-item {
	margin: 0;
}

div.region-header div.form-actions { 
	padding: 0;
	margin: 0;
}

div.region-header input.button {
	border: 1px solid #999;
	border-left: none;
	border-radius: 0;
	color: white;
	background-color: white;
	background-image: url('/themes/custom/islandora_muni/images/magnifier-blue-sm.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 2.2rem;
	text-align: left;
	box-shadow: none;
}

div.region-header input.form-text {
        border: 1px solid #999;
	border-right: none;
        width: 192px;
        font-size: 1.1rem;
}

div.region-header input.button,
div.region-header input.form-text {
	height: 2.5rem;	
	margin: 0;
	outline: 0;
	padding: .3rem;
}

#edit-reset,
#edit-reset--2,
#edit-reset--3,
#edit-reset--4 {
	display: none;
}

#block-islandora-muni-languageswitcher,
#block-languageswitcher {
	clear: none;
	float: none;
	padding-left: 1rem;
	padding-top: .3rem;
}


#block-islandora-muni-languageswitcher ul.links,
#block-languageswitcher ul.links {
	font-size: 1.3rem;
}


#block-islandora-muni-languageswitcher li.is-active,
#block-languageswitcher li.is-active {
	display: none;
}	



/* menu */
/*
div.block-superfish a.menu-toggle,
#block-islandora-muni-main-menu a.menu-toggle {
	visibility: hidden;
	position: relative;
	word-spacing: -999px;
    	letter-spacing: -999px;
	margin-bottom: 1rem;
}

div.block-superfish a.menu-toggle::after,
#block-islandora-muni-main-menu a.menu-toggle::after {
	visibility: visible;
	position: absolute;
	left: 15px;
	word-spacing: normal;
	letter-spacing: normal;
	width: 90%;
	font-weight: bold;
	font-size: 1.3rem;
	color: #555;
	content: "\2630";
}
*/

ul.sf-menu .sf-sub-indicator {
	overflow: none;
	opacity: 1;
	font-size: small;
	top: 60%;
	width: 20px;
	right: inherit;
}

.sfHover,
ul.sf-menu.sf-style-default li li a:hover,
ul.sf-menu.sf-style-default li a:hover,
ul.sf-menu.sf-style-default li:hover a,
ul.sf-menu.sf-style-default li:hover, 
ul.sf-menu.sf-style-default li li:hover a,
ul.sf-menu.sf-style-default li li:hover,
ul.sf-menu.sf-style-default li li a,
ul.sf-menu.sf-style-default li li,
ul.sf-menu.sf-style-default li a,
ul.sf-menu.sf-style-default li {
  border: none;
  background-color: white;
  background: none;
  width: auto;
  color: #333;
}


ul.sf-menu.sf-style-default a,
ul.sf-menu.sf-style-default a:visited,
ul.sf-menu.sf-style-default a:hover,
ul.sf-menu.sf-style-default a.is-active {
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 0;
  background: none;
}



ul.sf-menu.sf-style-default span.nolink:hover,
ul.sf-menu.sf-style-default span.nolink,
ul.sf-menu a, ul.sf-menu span.nolink {
	padding-bottom: 0;
  padding-top: 0;
  padding-left: 0;
	position: inherit;
  color: #333;
  padding-top: 0;
  padding-bottom: 0;
  background: none;
}


ul.sf-menu.sf-style-default a.is-active {
  color: black;
  background-color: white;
}

ul.sf-menu li.sf-depth-1.menuparent ul {
	/*
	border-top: 2px solid;
	border-image: linear-gradient(to left, grey 50%, transparent 50%) 100% 1;
	border-left: 2px solid grey;
	border-right: 2px solid grey;
	border-bottom: 2px solid grey;*/
	border: #DCDCDC solid 2px;
	border-top: white solid 2px;
	padding: .5rem;
	background-color: white;
	width: auto;
	margin-top: -5px;
}

.region-primary-menu .menu a.sf-depth-2::before {
  content: "\02C3\00a0\00a0\00a0"; /* bullet point arrow */
  color: grey;
  font-size: 0.8rem;
}

ul.sf-menu li.sf-depth-2 {
	padding-bottom: 1rem;
}

ul.sf-menu li.sf-depth-2 a.sf-depth-2 {
	font-size: 1.1rem;
}

ul.sf-menu.sf-horizontal.sf-shadow ul {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

.region-primary-menu .menu {
	font-size: inherit;
	white-space: nowrap;
}

.region-primary-menu .block-superfish ul.menu,
.region-primary-menu .block-menu ul.menu {
	margin: .8rem 15px;
	padding: 0;
	list-style: none;
	display: flex;
}

.region-primary-menu .block-menu .menu {
	font-size: inherit;
}

@media (min-width: 901px) {
  .region-primary-menu .menu-item, body:not(:target) .region-primary-menu .menu-item {
    padding-right: 2rem;
  }

  ul.sf-menu.sf-style-default a, ul.sf-menu.sf-style-default a:visited {
    color: #333;
  }
}


.region-primary-menu ul.menu > li > span,
.region-primary-menu ul.menu > li {
	padding-right: 2rem;
	float: none;
	overflow: inherit;
	margin: 0;
	display: inline-block;
}

.region-primary-menu ul.menu > li.menuparent {
	padding-right: 1.4rem;
}

ul.sf-menu .sf-sub-indicator::after {
        content: url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='13' height='13' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' /></g></svg>"); /* simple arrow down for compound menu items */
        font-weight: bold;
        padding-left: 0.5rem;

}


ul.menu > li > span,
ul.menu > li > a {
	font-size: 1.2em;
	font-weight: 300;
	color: #333;
}

ul.menu > li > a.is-active {
    color: #000;
    font-weight: bold;
}



.region-primary-menu ul.menu > li:nth-last-child(5) {
        flex-grow: 2;
}

.region-primary-menu ul.menu > li.menu-item:last-child {
        padding-right: 0;
}

.region-primary-menu li.sf-depth-1,
.region-primary-menu li.menu-item {
	padding-left: 0;
	padding-right: 2rem;
}

.region-primary-menu li.sf-depth-1:last-child,
.region-primary-menu li.menu-item:last-child {
	padding-right: 0;
}

.region-primary-menu .menu span,
.region-primary-menu .menu a {
	padding: 0;
	text-shadow: none;
  margin: 0;
}

.sf-accordion-toggle span {
  display: none;
}

ul.sf-menu.sf-style-default.sf-accordion li.sf-expanded,
ul.sf-menu.sf-style-default a, ul.sf-menu.sf-style-default a:visited {
  color: black;
  background: none;
}

.sf-accordion-toggle a {
  text-decoration: none;
}

.sf-accordion-toggle a::after {
  display: none;
}

.sf-accordion-toggle a::before {
  visibility: visible;
  margin-left: 15px;
  width: 90%;
  font-weight: bold;
  font-size: 1.8rem;
  color: #0000DC;
  content: "\2630";
  background: none;
}

div.sf-accordion-toggle.sf-style-default a {
  background: none;
  color: #0000DC;
}

div.sf-accordion-toggle.sf-style-default a.sf-expanded {
  background: none;
}

.sf-accordion {
  display: flex;
  flex-flow: column wrap;
  text-align: left;
  gap: 10px;
}

ul.sf-accordion li.sf-depth-1.menuparent ul {
  border: none;
  margin-top: 0px;
}

@media (min-width: 461px) and (max-width: 900px) {
	.region-primary-menu .menu-item, body:not(:target) .region-primary-menu .menu-item {
		width: auto;
		margin: 0 1px;
		padding: 0 1px;
	}

	.region-primary-menu .menu {
		padding: 0 15px;
	}
}


@media (max-width: 900px) {
  ul.sf-accordion li.sf-depth-1.menuparent ul {
    border: solid 2px lightgray;
  }
}



ul.js-facets-widget {
	padding-bottom: 1.5rem;
}

div.facets-widget-links > a.facets-soft-limit-link {
	font-style: italic;
}

div.block-facet--dropdown.block,
div.block-facet--links.block {
	background-color: white;
	border: 0;
/*	border-top: 2px solid #004899; */
}

div.block-facet--links ul {
	color: #004899;
}

div.block-facet--links h2 {
	font-size: 20px;
	color: #555;
}

div.block-simple-blockfront-page-jumbotron {
	margin-bottom: 2rem;
}

div.block-simple-blockfront-page-jumbotron > div.content {
        position: relative;
        background-image: url('/themes/custom/islandora_muni/platform_specific/images/banner2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        /*height: 23.7vw;*/
        /* height: 66vw; */
        height: 25.3vw;
        max-width: 1170px;
        /*max-height: 278px;*/
        /* max-height: 773px; */
        max-height: 297px;
        margin: 0 auto;
        text-align: left;
}


div.block-simple-blockfront-page-jumbotron > div.content > p {
        transform: translateY(2vw);
        font-weight: bold;
        color: white;
        padding: 1rem;
}

div.block-simple-blockfront-page-jumbotron > div.content span {
        width: 100%;
        font-size: 1.3rem;
}

div.block-simple-blockfront-page-jumbotron > div.content span:nth-child(1) {
        font-size: 3.2rem;
}

@media (min-width: 1170px) {

        div.block-simple-blockfront-page-jumbotron > div.content span {
                font-size: 1.3rem;
        }

        div.block-simple-blockfront-page-jumbotron > div.content span:nth-child(1) {
                font-size: 3.2rem;
        }

        div.block-simple-blockfront-page-jumbotron > div.content > p {
                transform: translateY(30%);
        }
}

@media (max-width: 768px) {

        div.block-simple-blockfront-page-jumbotron > div.content span {
                font-size: 1rem;
        }

        div.block-simple-blockfront-page-jumbotron > div.content span:nth-child(1) {
                font-size: 2.6rem;
        }

        div.block-simple-blockfront-page-jumbotron > div.content > p {
                transform: translateY(1.5vw);
                padding: .5rem;
        }

}

@media (max-width: 560px) {
        div.block-simple-blockfront-page-jumbotron > div.content span:nth-child(1) {
                font-size: 1.5rem;
        }

        div.block-simple-blockfront-page-jumbotron > div.content > p {
                transform: translateY(1.3vw);
                padding: .2rem;
        }

}

@media (max-width: 480px) {
        div.block-simple-blockfront-page-jumbotron > div.content span:nth-child(1) {
                font-size: 1.2rem;
        }
        div.block-simple-blockfront-page-jumbotron > div.content > p {
                transform: translateY(0);
                padding: .1rem;
        }

}

div.block-views-block-homepage-statistics-block-1,
div.block-views-blockstats-content-block-2 {
	float: left;
	margin-right: 2rem;
	min-height: 7rem;
	border: 1px dotted black;
	padding: .5rem 1rem;
}

div.block-views-block-homepage-statistics-block-1 h2,
div.block-views-blockstats-content-block-2 h2 {
	margin: 0;
	padding-top: 0;
	display: none;
}

div.block-simple-blockhomepage-copyright p,
div.block-simple-blockhow-to-cite-platform p {
	margin-bottom: .5rem;
}

div.block-simple-blockhow-to-cite-platform {
	margin-top: 1rem;
}

div.block-simple-blockhomepage-copyright {
	padding-top: 3rem;
	clear: both;
}

.copyright-title,
.citace-title {
	font-weight: bold;
}

div.view-digitalia-muni-eva-citations,
p.howtocite-platform {
	border: 1px dotted black;
	padding: 1rem;
}

div.view-digitalia-muni-eva-citations {
	margin-top: 1rem;
}

p.citace-com-note {
	margin-bottom: 0;
}

div.feed-icons {
	display: none;
}

footer.site-footer {
	background-color: white;
	color: black;
	padding: 0;
	margin: 1rem 0;
	padding: 0;
	border: none;
}

div.region-footer-first {
	display: flex;
	justify-content: space-between;
}

.site-footer div.block-simple-block-test-loga {
	margin-right: 0;
	margin-left: auto;
}

.site-footer .block {
	margin: 0;
	padding: 0;
	border: none;
}

.site-footer .layout-container {
	padding: 0;
}

.site-footer .content {
	color: black;
}

#block-frontpage {
	background-color: #DDDDDD;
	padding: 1rem;
}

.site-footer__top .region {
	width: 100%; 
}

.site-footer .block-simple-blockfooter-copyright {
	flex-grow: 2;
}

.site-footer .footer-icon {
	height: 45px;
	padding-left: 1.5rem;
}

.site-footer .ics-logo {
	height: 60px;
}

.site-footer .citff-logo {
	height: 60px;
}

.site-footer .lindat-logo {
	padding-bottom: 8px;
}

div.muniweb-bar-cookies__row-main {
        margin: 0 auto;
        padding-left: 20px !important;
        padding-right: 20px !important;
}

div.muniweb-bar-cookies {
        margin: 0 auto;
}

.inline {
  display: inline;
}

.hide-pager .pager {
  visibility: hidden;
}

.hidden-text {
  display: none;
}

@media (min-width: 461px) and (max-width: 900px) {
  .region-primary-menu .menu {
    text-align: left;
  }
}


body.user-logged-in textarea.form-text {
	background-color: white;
	color: black;
}


.facets-widget-links ul li.facet-item label .facet-item__value {
  color: #004899; 
}

.field--type-entity-reference {
  margin: 0;
}

.field--type-entity-reference .field__label {
  font-weight: bold;
}



